html,
body {
  width: 100%;
  height:100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: linear-gradient(45deg,#E79796,#f5cec7,#ffc988,#c6c09c,#ffb284);
  background-size: 400% 400%;
  animation-name: ChangeColor;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function:ease-in-out;
}

@keyframes ChangeColor {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

section {
  position: relative;
  top: 220px;
  width:100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;    
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
